.winMessage {
  text-align: center;   
  animation-duration: 8s;
  animation-name: winmessage;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-direction: alternate;
}

@keyframes winmessage {
  0% {
    opacity: 0;
    transform: scale(0);
    color: blue;
    animation-timing-function: linear;
  }
  25% {
    opacity: 0.25;
    transform: scale(0.8);
    color: purple;
    animation-timing-function: linear;
  }
  50% {
    opacity: 0.5;
    transform: scale(1.6);
    color: red;
    animation-timing-function: linear;
  }
  75% {
    opacity: 0.75;
    transform: scale(2.6);
    color: purple;
    animation-timing-function: linear;
  }
  100% {
    opacity: 1;
    transform: scale(3.4);
    color: blue;
    animation-timing-function: linear;
  }
}


