.card-container {
  background-color: grey;
  display: inline-block;
  margin: 10px;
  height: 150px;
  min-width: 150px;
  width: 10%;
  border-radius: 25px;
  border: 6px solid grey;
  font-family: Helvetica;
  font-size: 0.9em;
  text-align: center;    
}

